# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment files
.env
.env.*

# Virtual environments
venv/
env/
ENV/
.venv/

# VSCode
.vscode/

# Migrations (if using Alembic)
alembic/versions/

# OS files
.DS_Store
Thumbs.db

# Python egg metadata
*.egg-info/
.eggs/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# Logs
*.log

# SQLite or local DBs (optional)
*.sqlite3
*.db

# Mac or Linux system files
*.swp
*.swo
